PORT=3000
ADMIN_PASSWORD=brecho2024

# Cloudinary (necessário para upload de imagens no Vercel)
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret

# Upstash Redis (necessário para banco de dados no Vercel)
UPSTASH_REDIS_REST_URL=sua_url_redis
UPSTASH_REDIS_REST_TOKEN=seu_token_redis
